body{
    overflow-x: hidden;
}

.container-fluid {
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Luxurious Roman";
}

.topBar {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 69420;
}

.topBar h2{
    min-width: 100px;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: 0.2s;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.topBar h2:hover{
    background-color: black;
    color: royalblue;

    border-radius: 5px;
}

.topBar a:hover{
    background-color: black;
    color: orangered;
}

.gold{
    gap: 10px;
    font-family:"Bookman Old Style";
}

.mainWrapper{
    margin-top: 90px;
}

.characterSelectCard{
    margin: 15px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 5%); /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(67, 67, 67, 75%), rgba(0, 0, 0, 75%));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(67, 67, 67, 75%), rgba(0, 0, 0, 75%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    cursor: pointer;
    transition: 0.1s;
}

.characterImageWrapper{
    margin: -20px;
    overflow: hidden;
}

.characterSelectCard img{
    width: 200px;
    transition: 0.3s;
}

.characterSelectCard:hover img{
    transform: scale(1.5);
}

.characterSelected{
    outline: 10px solid rgba(0, 255, 0, 0.25);
    transform: scale(1.05);
}

.enemyPanel{
    padding: 20px;
    margin: 20px;
    height: 100%;
}

.enemyPanel img:not(.inventoryItem){
    min-width: 300px;
}

.arenaActions{
    min-width: 250px;
}

.damageToPlayer{
    top: 160px;
    left: 20px;
}

.damageToEnemy{
    top: 160px;
    left: 185px;
}

.damageToPlayer, .damageToEnemy{
    font-size: 20px;
    font-family: 'Saira';
    white-space: nowrap;
}

.characterPanel{
    margin: 20px;
    padding: 20px;
}

.characterPanel img:not(.inventorySlot, .inventoryItem img, .arenaUtils img){
    max-width: 300px;
    margin-bottom: 20px;
    object-fit: contain;
}

.characterInfo{
    min-width: 250px;
}

.stats{
    width: 100%;
    white-space: nowrap;
}

.inventory{
    min-width: 225px;
}

.inventorySlot{
    width: 64px;
    height: 64px;
    padding: 15px;
}

.inventoryItem{
    min-width: 75px;
    height: 75px;
    padding: 5px;
}

.itemSelected{
    outline: 5px solid rgba(0, 255, 0, 0.25);
    border-radius: 8px;
}

.inventoryItem img{
    width: 100%;
}

.inventory, .shop, .characterPanel{
    margin: 20px;
    padding: 20px;
}

.shop{

}

.shopWeapons{
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.shopPotions{
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.shopTabPotions, .shopTabWeapons, .inventorySlots, .arenaUtils{
    display: grid;
    justify-content: space-evenly;
    grid-gap: 10px;
}

.shopTabPotions, .shopTabWeapons{
    grid-template-columns: repeat(auto-fill, 280px);
    overflow-y: scroll;
    height: 64vh;
}

.arenaUtils{
    grid-template-rows: repeat(auto-fill, 100px);
    grid-template-columns: repeat(auto-fill, 82px);
    grid-gap: 10px;
    width: 300px;
    margin: 20px;
}

.arenaUtils .inventoryItem{
    cursor: pointer;

}

.arenaUtils h6{white-space: nowrap;}


.arenaCharacterPanel{
    padding: 20px;
}

.inventorySlots{
    grid-template-columns: repeat(auto-fill, 64px);
}

.inventorySlots img, .inventoryItem img{
    cursor: pointer;
}

.inventorySlots img:active, img.inventoryItem:active{
    transform: scale(1.1);
}

.inventorySlots .btn{
    font-size: 13px;
    padding: 3px;
}

.shopItem{
    padding: 10px;
    row-gap: 10px;
}

.shopItem img{
    max-width: 64px;
    max-height: 64px;
}

.shopItem li, .stats li, .toolTip li {
    list-style-type: square;
    margin-left: 10px;
    font-size: 13px;
}

.shopItem li span{
    margin-left: -5px;
}

.shopWeapons, .shopPotions{
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

.shopWeapons h4, .shopPotions h4{
    margin-bottom: 0;
    text-transform: uppercase;
}

.shopWeapons:hover, .shopPotions:hover, .shopTraderActiveTab{
    background-color: rgba(255, 255, 255, 20%) !important;
}

.shopWeapons:active, .shopPotions:active{
    transition: 0s;
    background-color: rgba(255, 255, 255, 0.45) !important;
}

.progress{
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.healthBar .progress-bar{
    background-color: #9d1c1c !important;
}

.energyBar .progress-bar {
    background-color: #1c509d !important;
}

.healthBar, .energyBar{
    height: 30px !important;
}

.progressBarText{
    position: absolute;
    top: 3px;
    left: 20px;
}

.buyDisabled{
    background-color: rgba(0,0,0,0.1) !important;
    cursor: initial;
}

.buyDisabled *{
    opacity: 0.4;
}

.popover{
    background-color: rgba(255, 255, 255, 15%) !important;
    color: rgba(255, 255, 255, 87%);
    padding: 10px;
    min-width: 150px;
}

.popover-arrow{
    border-right-color: rgba(255, 255, 255, 5%) !important;
    left: -20px !important;
}

.topBar, .characterSelectCard, .btn, .characterPanel, .popover, .inventorySlot, .stats, .shop, .inventory, .toolTip, .healthBar, .energyBar {
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%), 0 3px 10px rgb(0 0 0 / 15%), 0 3px 8px rgb(0 0 0 / 20%);
}

.exclusiveText, h1, h2, h3, h4, h5, h6, .btn, code, .damageToPlayer, .damageToEnemy {text-shadow: 3px 3px 2px rgb(0 0 0 / 70%);}

.baseColor{background-color: #121212;}
.elevation0{background-color: rgba(255, 255, 255, 0%);}
.elevation1{background-color: rgba(255, 255, 255, 5%);}
.elevation2{background-color: rgba(255, 255, 255, 7%);}
.elevation3{background-color: rgba(255, 255, 255, 8%);}
.elevation4{background-color: rgba(255, 255, 255, 9%);}
.elevation5{background-color: rgba(255, 255, 255, 11%);}
.elevation6{background-color: rgba(255, 255, 255, 12%);}
.elevation7{background-color: rgba(255, 255, 255, 14%);}
.elevation8{background-color: rgba(255, 255, 255, 15%);}
.elevation9{background-color: rgba(255, 255, 255, 16%);}

.exclusiveText{
    font-size: 7vw;
    font-family: MORPHEUS;
}

.highText{opacity: 87%;}
.mediumText{opacity: 60%;}
.lowText{opacity: 38%;}

.whiteText{color: rgb(255, 255, 255);}
.yellowText{color: rgb(203, 216, 55);}
.redText{color: rgb(216, 55, 55);}
.greenText{color: rgb(55, 216, 63);}

.humanColor{color: rgb(212 161 111);}
.dwarfColor{color: rgb(193 46 19);}
.elfColor{color: rgb(153 113 159);}
.gnomeColor{color: rgb(254 228 153);}
.orcColor{color: rgb(169 190 44);}
.goblinColor{color: rgb(86 151 90);}
.trollColor{color: rgb(96 174 179);}
.undeadColor{color: rgb(193 196 191);}

.border1{outline: 1px solid rgba(255, 255, 255, 9%);}

.border1, .characterSelected{
    border-radius: 8px;
}

.btnBig{
    padding: 20px 45px 20px 45px !important;
    font-size: 35px !important;
}

.btn{
    background-color: rgb(0, 0, 0, 50%) !important;
    white-space: nowrap;
}

.backdropFilter, .btn{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(3px);
}

.btn:hover, .inventorySlots img:hover, .inventoryItem img:hover, img.inventoryItem:hover{
    animation: shine 0.5s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

.textUI, .btn{
    font-family: 'Saira', sans-serif;
}

.glass, .elevation1{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.image-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
}

.image-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55);
    z-index: -1;
}

.toolTip{
    background-color: rgba(0, 0, 0, 90%);
    min-width: 150px;
    white-space: nowrap;
    padding: 15px;
}

code{
    font-size: 15px !important;
    padding: 10px;
}

.vh100{height: 100vh;}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #23323f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(142, 161, 169);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #121c23;
}

@keyframes shine {
    from { opacity: 0.6 }
    to { opacity: 1.0 }
    from { opacity: 0.6 }
}

.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flex1{flex: 1}
.flex2{flex: 2}
.flex3{flex: 3}
.flex4{flex: 4}


